@charset "ISO-8859-1";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color : pink;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

#guessButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultText {
    margin: 20px 0;
}